/****** body *******/
body{
    height: 100vh;
    margin-bottom: 5rem;
}

#myContainer{

    margin: 0;
    
}



/********header**********/
#logoutMenu a:hover{
    color: #17a2b8;
}



/*********Reports table***********/
.smallBtn{
    font-size: 0.75em;
    padding: 0.1em 0.4em;
    text-align: center;    
}



/****** cards *******/
.myCards{
    min-width: 350px;
    margin-top: 2%;
}

.dash-card-header a{
    color: white;   
}

.dash-card-header:hover{ 
    cursor: pointer;
}

.allNet:hover{
     background-color: #009973; 
}

.allNet{  
     background-color:#00cc99;
}


.allUs:hover{
     background-color:#ffaa00;
}

.allUs{
     background-color:#ffcc66;
}


.allRe:hover{
     background-color:#00aaff;
}

.allRe{
     background-color:#66ccff;
}




.allUn:hover{
     background-color:#0047b3;
}

.allUn{
     background-color:#0066ff;
}



.allIn:hover{
     background-color:#ff3333;
}

.allIn{
     background-color:#ff6666;
}



.allAd:hover{
     background-color:#006666;
}

.allAd{
     background-color:#009999;
}



.dash-card-header{
    color:white;
    font-size: 20px;
}





/****** Map *******/
.map {
     height: 400px;
     width: 100%;
     margin-top: 2%;
     margin-bottom: 50px;    
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }


.c_info{
    cursor: pointer;
}






/***** alerts ******/
.alert{
    padding: 0.25rem 1.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.alert-dismissible .close {
    padding: 0.25rem;
}




/****** sidebar *******/
.nav-link {
    color: black;
}

#mySidebarCol{
    padding-left:0;
    background-color: rgba(0,0,0,.03);
    height: 150vh;
}

.sidebarItem a{
    color: black;
}
.sidebarItem a:hover{
    color: #17a2b8;
}
.sidebarImg{
    margin-bottom: 5px;
    margin-right: 5px;
}
 
.hide{
    display: none;
}

/*normal wide screen*/
@media screen and (min-width:989px){
    #mySidebarCol{
        padding-top: 20px;
    } 
    .dropbtn{
        display: none;
    }
    
    .hiddenSidebarUl{
        display: none;
    }
}


/*small screen*/
@media screen and (max-width:990px){
    #mySidebarCol{
        height: 400px;
        background-color: #F8F9FA;
        padding-top: 20px; 
        display: none;
    }
    
    .dropbtn{
         display: inline-block;
         cursor: pointer;
    }
    
    
    
}

/****** Footer ******/
.footer{
    background-color: #343a40;
    text-align: center;
    padding: 1.5rem;
    color: lightgray;
}





