
/****** cards *******/
.myCards{
    min-width: 350px;
}

.dash-card-header a{
    color: white;   
}

.dash-card-header:hover{ 
    cursor: pointer;
}

.allNet:hover{
     background-color: #009973; 
}

.allNet{  
     background-color:#00cc99;
}


.allUs:hover{
     background-color:#ffaa00;
}

.allUs{
     background-color:#ffcc66;
}


.allRe:hover{
     background-color:#ff471a;
}

.allRe{
     background-color:#ff704d;
}



.dash-card-header{
    color:white;
    font-size: 20px;
}


/****** Map *******/
.map {
     height: 400px;
     width: 100%;
     margin-top: 2%;
     margin-bottom: 50px;    
}


/***** alerts ******/
.alert{
    padding: 0.25rem 1.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.alert-dismissible .close {
    padding: 0.25rem;
}




/****** sidebar *******/
.nav-link {
    color: black;
}


#mySidebarUl{
    padding-left: 2%;
    
}

#mySidebarCol{
    padding-left:0;
    height: 100%;
}

.sidebarItem a{
    color: black;
}
.sidebarItem a:hover{
    color: gray;
}
.sidebarImg{
    margin-bottom: 5px;
    margin-right: 5px;
}
    
@media screen and (min-width:900px){
    #mySidebarUl{
        height:700px;
        padding-top: 70px;
    }
}

@media screen and (max-width:899px){
    #mySidebarUl{
        background-color: #F8F9FA;
        padding-top: 20px;
    }
}



/****** Footer ******/
footer{ 
    background-color:#343a40;
    width: 100%;
    padding-top:30px;
    padding-bottom:30px;
    margin-top: 100px;
    z-index: 100;
}

#createdBy{
    text-decoration: none;
    
}




