/*******************************
HTML and BODY
*******************************/
html {
    scroll-behavior: smooth;
    font-size: 170%;
}

body{
    height: 100vh;
    margin-bottom: 5rem;
}

#myContainer{

    margin: 0;
    
}




/*******************************
PAGER
*******************************/
.pager-nav {
    margin: 16px 0;
}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 0.75rem;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
}



/*******************************
HEADER
*******************************/
#logoutMenu a:hover{
    color: #17a2b8;
}

#header-img{
    width:2rem;
    height:2rem;
    margin-bottom:0.3rem;
}



/*******************************
REPORTS TABLE
*******************************/
.smallBtn{
    font-size: 0.75em;
    padding: 0.1em 0.4em;
    text-align: center;    
}




/*******************************
CARDS
*******************************/
.myCards{
    /*min-width: 350px;*/
    margin-top: 2%;
}

.card-img{
    width:100%;
    max-width: 3.75rem;
    min-width: 2.5rem;
    
}

.dash-card-header a{
    color: white;   
}

.dash-card-header:hover{ 
    cursor: pointer;
}

.allNet:hover{
     background-color: #009973; 
}

.allNet{  
     background-color:#00cc99;
}


.allUs:hover{
     background-color:#ffaa00;
}

.allUs{
     background-color:#ffcc66;
}


.allRe:hover{
     background-color:#00aaff;
}

.allRe{
     background-color:#66ccff;
}




.allUn:hover{
     background-color:#0047b3;
}

.allUn{
     background-color:#0066ff;
}



.allIn:hover{
     background-color:#ff3333;
}

.allIn{
     background-color:#ff6666;
}



.allAd:hover{
     background-color:#006666;
}

.allAd{
     background-color:#009999;
}



.dash-card-header{
    color:white;
    font-size: 1.10rem;
}





/*******************************
MAP
*******************************/
.map {
     height: 400px;
     width: 100%;
     margin-top: 2%;
     margin-bottom: 0;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }


.c_info{
    cursor: pointer;
}

/***** guide ******/
.guide-ul{
    padding: 0.5em 0;
    margin-top: 2%;
}

.guide-span {
    font-size: .80em;
}
.guide-li{
    padding: 0 0;
    list-style: none;    
}

.guide-markers{
    width:2rem;
    height:2rem;
    padding:0.5rem; 
}




/***** alerts ******/
.alert{
    padding: 0.25rem 1.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.alert-dismissible .close {
    padding: 0.25rem;
}



/*******************************
SIDE BAR
*******************************/
.nav-link {
    color: black;
}

.sidebarImg{
    width:1.5rem;;
    height:1.5rem;
}

#mySidebarCol{
    padding-top: 1rem;
    padding-left:0;
    background-color: rgba(0,0,0,.03);
   
}

.sidebarItem a{
    color: black;
}
.sidebarItem a:hover{
    color: #17a2b8;
}
.sidebarImg{
    margin-bottom: 5px;
    margin-right: 5px;
}
 
.hide{
    display: none;
}



/*******************************
MEDIA
*******************************/
@media screen and (min-width:992px){
    html { 
        font-size: 100%;
    }
}

@media screen and (min-width:992px){ /* = 892 in chrome */
   .dropbtn{
        display: none;
    }
    
    #mySidebarCol{
        padding-top: 1rem;
        padding-left:0;
        background-color: rgba(0,0,0,.03);
        height: 100vh;
    }

}

/****** responsive sidebar *******/
@media screen and (max-width: 992px) {
    #mySidebarCol{
        display: none;
    }
    
    #mySidebarUl li{
        display: none;
    }
     
}

@media screen and (max-width: 992px) {
    
  #mySidebarCol.responsive {
      position: relative;
      display: block;
    }

  #mySidebarCol.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
 
}




/*******************************
FOOTER
*******************************/

.footer{
    background-color: #343a40;
    text-align: center;
    padding: 1.5rem;
    color: lightgray;
}





